.expositor {
    width: 100%;
    height: 150px;
    background: #2a3542;
    box-shadow: 0 8px 12px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1rem 0.5rem;
}

.expositor h3 {
    margin-top: 5px;
    text-align: center;
}

.expositor .expositor-left {
    position: absolute;
    width: 150px;
    height: 100%;
    background: #DF691A;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.expositor:hover .expositor-left {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.expositor .expositor-left .expositor-image {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.expositor .expositor-left .expositor-image::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
}

.expositor .expositor-left .expositor-extra {
    width: 75%;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.expositor .expositor-left .expositor-extra h3 {
    margin-top: 5px;
}

.expositor-link {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.expositor-logos {
    margin-top: 25px;
    height: 20px;
}

.expositor-logo {
    width: 100%;
    max-width: 50px;
}

.expositor .expositor-right {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 1rem 1rem;
}